
@{
    ViewBag.Title = "LeatherGoods";
}


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110530097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110530097-1');
</script>



<!-- start slider Section -->
<section id="slider_sec">
    <div class="container">
        <div class="row">
            <div class="slider">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="wrap_caption">
                                <div class="caption_carousel">
                                    <h1>LeatherGoods</h1>
                                    <p>Carrito de compras</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrap_caption">
                                <div class="caption_carousel">
                                    <h1>LeatherGoods</h1>
                                    <p>Carrito de compras frase 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="item ">
                            <div class="wrap_caption">
                                <div class="caption_carousel">
                                    <h1>LeatherGoods</h1>
                                    <p>Carrito de compras frase 3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left left_crousel_btn" href="#carousel-example-generic" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right right_crousel_btn" href="#carousel-example-generic" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End slider Section -->
<!-- start about Section -->
<section id="abt_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>ABOUT</h1>
                    <h2>LEATHERGOODS</h2>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="abt">
                    <p>La misión de nuestra empresa es la de aprovechar las tecnologias de informacion que internet pone a nuestro servicio en beneficio de nuestros clientes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
<!-- start contact us Section -->
<section id="ctn_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>Contact Info</h1>
                    <h2>LEATHERGOODS</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="cnt_form">
                    <form id="contact-form" class="contact" name="contact-form" method="post" action="send-mail.php">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control name-field" required="required" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control mail-field" required="required" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cnt_info">
                    <ul>
                        <li><i class="fa fa-facebook"></i><p>121 King Street, Melbourne Victoria 3000 Australia</p></li>
                        <li><i class="fa fa-envelope"></i><p>contact@info.com</p></li>
                        <li><i class="fa fa-phone"></i><p>+0987654321 (+012345678)</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End contact us  Section -->